<!DOCTYPE html>
<html>
<head>
    <title>Đặt hàng thành công</title>
</head>
<body>
    <p>Hello {{email}},</p>
    <p>Chúc mừng khách hàng đã đặt hàng thành công !</p>
    <img src="cid:logo"/>
    <script>

    </script>
</body>
</html>